<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS"/>
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.REQUEST_PACKAGE_INSTALLS" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-feature android:name="android.hardware.location.gps" />

    <uses-permission android:name="com.google.android.gms.permission.AD_ID"/>




    <application
        tools:replace="android:allowBackup"
        android:allowBackup="false"
        android:fullBackupContent="false"
        android:name=".App"
        android:icon="@mipmap/group"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/group"
        android:supportsRtl="true"
        android:largeHeap="true"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        android:requestLegacyExternalStorage="true"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait"/>

        <activity android:name=".UserLogin"
            android:screenOrientation="portrait"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Downloadapk"
            android:screenOrientation="portrait"/>
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <service
            android:name=".LocationService"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.ACCESS_FINE_LOCATION">
        </service>

        <service
            android:name=".notification.MyFirebaseInstanceIDService"
            android:permission="com.google.android.c2dm.permission.RECEIVE"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <receiver
            android:name=".LocationServiceReceiver"
            android:enabled="false"
            android:exported="true"
            android:label="RestartServiceWhenStopped"
            android:stopWithTask="false">
            <intent-filter>
                <action android:name="RestartService" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <!--<intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
            <intent-filter>
                <action android:name=".TrackerActivity.ALARM_ACTION_START"/>
            </intent-filter>
            <intent-filter>
                <action android:name=".TrackerActivity.ALARM_ACTION_END"/>
            </intent-filter>-->
        </receiver>
        <receiver android:name=".SmsReceiver"
            android:permission="android.permission.BROADCAST_SMS"
            android:exported="true">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.ceo.example.qrttracking.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>
    </application>

</manifest>